input {
    keyboard {
        layout "it"
    }
}

startup {
    // spawn "waybar"
    spawn-sh "swaybg -i /home/arch/Pictures/wallpapers/wallhaven-sails-cropped.png"
}

layout {
    decorations {
        border {
            active-color "#7fc8ff"
            inactive-color "#505050"
            width 5
            corner-radius 10
        }
    }

    map {
        size {
            rows 3
            columns 5
        }

        cells {
            height 400
            width 400
        }

        spaces { 
            horizontal 17
            vertical 17
        }

        padding {
            left 10
            right 10
            top 10
            down 10
        }
    }

    privileged {
        height "auto"

        spaces { 
            horizontal 17
            vertical 17
        }

        padding {
            left 10
            right 10
            top 10
            down 10
        }
    }
}

keybinds {
    mod-key "ctrl"

    Mod+Return { spawn "alacritty"; }
    Mod+Shift+Return { spawn-privileged "alacritty"; }
    Mod+Alt+Return { spawn-map "alacritty"; }

    Mod+K      { spawn "kitty"; }
    Mod+F      { spawn "firefox"; }
    Mod+D { spawn "fuxzzel"; }

    Mod+Q { close-window; }


    Mod+Up    { move-focus-up; }
    Mod+Down  { move-focus-down; }
    Mod+Right { move-focus-right; }
    Mod+Left  { move-focus-left; }

    Mod+Alt+Up    { move-or-swap-up; }
    Mod+Alt+Down  { move-or-swap-down; }
    Mod+Alt+Right { move-or-swap-right; }
    Mod+Alt+Left  { move-or-swap-left; }

    Mod+Shift+Up    { map-resize-add-up; }
    Mod+Shift+Down  { map-resize-add-down; }
    Mod+Shift+Right { map-resize-add-right; }
    Mod+Shift+Left  { map-resize-add-left; }

    Mod+Shift+Alt+Up    { map-resize-remove-up; }
    Mod+Shift+Alt+Down  { map-resize-remove-down; }
    Mod+Shift+Alt+Right { map-resize-remove-right; }
    Mod+Shift+Alt+Left  { map-resize-remove-left; }

    Mod+period { 
        set-focused-cell-width "+10%"
        set-privileged-window-width "+5%"
    }
    Mod+comma { 
        set-focused-cell-width "-10%"
        set-privileged-window-width "-5%"
    }

    Mod+Shift+period { 
        set-focused-cell-height "+10%"
        // set-privileged-window-height "+5%"
    }
    Mod+Shift+comma { 
        set-focused-cell-height "-10%"
        // set-privileged-window-height "-5%"
    }

    // diag
    Mod+Alt+L { dump-layout; }
    Mod+Alt+M { dump-map; }
    Mod+Alt+P { dump-privileged; }

    Mod+egrave { push-lateral-left; }
    Mod+plus   { push-lateral-right; }
}